
<div class="footer" >
    <div class="container-fluid">
        <div class ="row" align="center">
            <h1>Contact Us</h1><br/>
        </div>
        <div class ="row" align="center">
            <div class="col-lg-4" >
                <div><span><i class="fa fa-home"></i></span></div>
                <div ng-bind-html="address"></div>
            </div>
            <div class="col-lg-4">
                <a href="tel:02233756330">
                    <div><span><i class="fa  fa-phone"></i></span></div>
                    <span > {{telNumber}} </span>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="mailto:hi@websites.co.in">
                    <div ><span><i class="fa fa-pencil"></i></span></div>
                    <span>{{mailId}} </span>
                </a>
            </div>
        </div>
        <br/>
        <div class ="row" >
            <div class ='col-lg-4' align="center">
            <ul class="list-inline ">
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
            </div>
        </div>
    </div>
​​​​​​​​​​​​​​​​​​​​​​</div>
